  <div class="nbnotecont">

  <p>
    <%=raw RedCloth.new(@note.content).to_html %>
  </p>

 <div>
<%  upd = @note.updated_at.to_i
        if current_user.privilege?( :process_notes, @note.board_id ) || current_user.privilege?( :edit_notes, @note.board_id ) || current_user.privilege?( :cancel_notes, @note.board_id ) %>
    <ul id="icons" class="nbiconbox">
    <% if current_user.privilege?( :process_notes, @note.board_id ) %>
        <li class="nbicon" title="<%= t(:ch_comment) %>"><%= link_to nsp('comment'), edit_note_path( @note, :add => 'comment', :last => upd ), :remote=>true %></li>
    <% end
           if @note.status == :active %>
        <% if current_user.privilege?( :edit_notes, @note.board_id ) %>
        <li class="nbicon" title="<%= t(:ch_edit) %>"><%= link_to nsp('pencil'), edit_note_path( @note, :add => 'edit', :last =>upd  ), :remote=>true %></li>
        <% end
               if current_user.privilege?( :process_notes, @note.board_id )
                 if @note.user.nil? || (current_user.id == @note.user.id && ! @note.working)  %>
        <li class="nbicon" title="<%= t(:ch_going) %>"><%= link_to nsp('play'), workaround_path( @note, { :add => 'start', :last => upd }), :remote=>true, :method=>workaround_method %></li>
        <%   end
                 if @note.user.nil? %>
        <li class="nbicon" title="<%= t(:ch_later) %>"><%= link_to nsp('person'), workaround_path( @note, { :add => 'accept', :last => upd }), :remote=>true, :method=>workaround_method %></li>
        <%   end
                 if ! @note.user.nil? && current_user.id == @note.user.id && @note.working %>
        <li class="nbicon" title="<%= t(:ch_pause) %>"><%= link_to nsp('pause'), edit_note_path( @note,  :add => 'stop', :last => upd ), :remote=>true %></li>
        <%   end
                 if @note.user.nil? || current_user.id == @note.user.id %>
        <li class="nbicon" title="<%= t(:ch_done) %>"><%= link_to nsp('check'), workaround_path( @note,  { :add => 'done', :last => upd }), :remote=>true, :method=>workaround_method %></li>
        <li class="nbicon" title="<%= t(:ch_instant) %>"><%= link_to nsp('clock'), edit_note_path( @note,  :add => 'instant', :last => upd ), :remote=>true %></li>
        <%   end
                 if ! @note.user.nil? && current_user.id == @note.user.id %>
        <li class="nbicon" title="<%= t(:ch_giveup) %>"><%= link_to nsp('close'), edit_note_path( @note,  :add => 'reject', :last => upd ), :remote=>true %></li>
        <%   end
                 if @note.problem %>
        <li class="nbicon" title="<%= t(:ch_noprob) %>"><%= link_to nsp('help'), workaround_path( @note,  { :add => 'noprob', :last => upd }), :remote=>true, :method=>workaround_method %></li>
        <%   else %>
        <li class="nbicon" title="<%= t(:ch_prob) %>"><%= link_to nsp('help'), edit_note_path( @note,  :add => 'prob', :last => upd ), :remote=>true %></li>
        <%   end
               end
               if current_user.privilege?( :file_upload, @note.board_id )  %>
        <li class="nbicon" title="<%= t(:ch_upload) %>"><%= link_to nsp('document'), edit_note_path( @note,  :add => 'upload', :last => upd ), :remote=>true %></li>
               <%
               end
               if current_user.privilege?( :cancel_notes, @note.board_id )  %>
        <li class="nbicon" title="<%= t(:ch_cancel) %>"><%= link_to nsp('circle-close'), edit_note_path( @note,  :add => 'cancel', :last => upd ), :remote=>true %></li>
        <% end %>
    <% end %>
    </ul>

   </div>
   <p>

    <% if @note.status == :active and current_user.privilege?( :change_prio, @note.board_id )  and ( @note.priority != 3  or current_user.privilege?( :urgent_prio ) ) %>
    <%= select_tag  "p_#{@note.id}", options_for_select( @prio_options, @note.priority ),
              :title => t(:change_priority), :class => 'nbselect',  'data-add' => 'priority', 'data-id' =>@note.id, 'data-last' => upd  %>
    <% end %>

    <% if @note.status == :active and current_user.privilege?( :assign_notes, @note.board_id ) %>
    <%= select_tag  "u_#{@note.id}", options_for_select( @user_options, @note.user_id ),
              :title => t(:assign_user), :class => 'nbselect',  'data-add' => 'user', 'data-id' =>@note.id, 'data-last' => upd  %>
    <% end %>

    <% if @note.status == :active %>
    <% opts = context_options(@note)
           sel = @note.contexts_for current_user %>
    <%= select_tag(  "c_#{@note.id}", options_for_select( opts, sel.empty? ? nil : sel.first.id ),
              :title => t(:select_ctx), :class => 'nbselect',  'data-add' => 'ctx', 'data-id' =>@note.id, 'data-last' => upd )   if opts.size > 1 %>
    <% end %>

    <% if current_user.privilege?( :manage_boards ) %>
    <%= select_tag  "b_#{@note.id}", options_for_select( @board_options, @note.board_id ),
              :title => t(:assign_board), :class => 'nbselect',  'data-add' => 'board', 'data-id' =>@note.id, 'data-last' => upd  %>
    <% end %>

  <% end %>

  <% if @note.board.active && current_user.privilege?( :view_board, @note.board_id ) %>
  <p>
    <br/>
    <%= t :board %>: <%= link_to  @note.board.title, @note.board %>
  </p>
  <% end %>
  </p>

  </div>
  <div class="nbnotehist">
    <% @note.changes.reverse.each do |change| %>
       <p class="nbchange"><span class="ui-icon ui-icon-<%= change_icon change %> nbnoteicon" ></span><span
            class="nbchangeauto"><%=l change.created.to_datetime, :format => :long  %>: <%= change.user.name %> </span>
        <%= change_comment change %>
      </p>
    <% end %>
  </div>
