<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :board_id %><br />
    <%= f.text_field :board_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </div>
  <div class="field">
    <%= f.label :outcome %><br />
    <%= f.check_box :outcome %>
  </div>
  <div class="field">
    <%= f.label :working %><br />
    <%= f.check_box :working %>
  </div>
  <div class="field">
    <%= f.label :problem %><br />
    <%= f.check_box :problem %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
