<h3 id="h_<%= @note.id %>"><a href="#"><span 
      class="ui-icon ui-icon-<%= note_icon @note %>"></span><%=  note_problem @note %><span
      class="<%= note_prio @note  %>"><%= note_title @note, @parent %></span><%= note_user @note %></a></h3>
<div id="d_<%= @note.id %>" class="nbnote">

<div class="nbnotecont">
 <div>
  <% if current_user.privilege?( :process_notes, @note.board_id ) || current_user.privilege?( :edit_notes, @note.board_id ) || current_user.privilege?( :cancel_notes, @note.board_id ) %>
    <ul id="icons" class="nbiconbox">
    <% if current_user.privilege?( :process_notes, @note.board_id ) %>
        <li class="nbicon" title="<%= t(:ch_comment) %>"><%= link_to nsp('comment'), edit_note_path( @note, :add => 'comment', :last => @note.updated_at.to_i ), :remote=>true %></li>
    <% end
           if @note.status == :active %>
        <% if current_user.privilege?( :edit_notes, @note.board_id ) %>
        <li class="nbicon" title="<%= t(:ch_edit) %>"><%= link_to nsp('pencil'), edit_note_path( @note, :add => 'edit', :last => @note.updated_at.to_i ), :remote=>true %></li>
        <% end
               if current_user.privilege?( :process_notes, @note.board_id )
                 if @note.user.nil? || (current_user.id == @note.user.id && ! @note.working)  %>
        <li class="nbicon" title="<%= t(:ch_going) %>"><%= link_to nsp('play'), note_path( @note,  :add => 'start', :last => @note.updated_at.to_i ), :remote=>true, :method=>:put %></li>
        <%   end
                 if @note.user.nil? %>
        <li class="nbicon" title="<%= t(:ch_later) %>"><%= link_to nsp('person'), note_path( @note, :add => 'accept', :last => @note.updated_at.to_i ), :remote=>true, :method=>:put %></li>
        <%   end
                 if ! @note.user.nil? && current_user.id == @note.user.id && @note.working %>
        <li class="nbicon" title="<%= t(:ch_pause) %>"><%= link_to nsp('pause'), edit_note_path( @note,  :add => 'stop', :last => @note.updated_at.to_i ), :remote=>true %></li>
        <%   end
                 if @note.user.nil? || current_user.id == @note.user.id %>
        <li class="nbicon" title="<%= t(:ch_done) %>"><%= link_to nsp('check'), note_path( @note,  :add => 'done', :last => @note.updated_at.to_i ), :remote=>true, :method=>:put %></li>
        <%   end
                 if ! @note.user.nil? && current_user.id == @note.user.id %>
        <li class="nbicon" title="<%= t(:ch_giveup) %>"><%= link_to nsp('close'), edit_note_path( @note,  :add => 'reject', :last => @note.updated_at.to_i ), :remote=>true %></li>
        <%   end
                 if @note.problem %>
        <li class="nbicon" title="<%= t(:ch_noprob) %>"><%= link_to nsp('help'), note_path( @note,  :add => 'noprob', :last => @note.updated_at.to_i ), :remote=>true, :method=>:put %></li>
        <%   else %>
        <li class="nbicon" title="<%= t(:ch_prob) %>"><%= link_to nsp('help'), edit_note_path( @note,  :add => 'prob', :last => @note.updated_at.to_i ), :remote=>true %></li>
        <%   end
               end
               if current_user.privilege?( :cancel_notes, @note.board_id )  %>
        <li class="nbicon" title="<%= t(:ch_cancel) %>"><%= link_to nsp('circle-close'), edit_note_path( @note,  :add => 'cancel', :last => @note.updated_at.to_i ), :remote=>true %></li>
        <% end %>
    <% end %>        
    </ul>

    <% if @note.status == :active and current_user.privilege?( :change_prio, @note.board_id )  and ( @note.priority != 3  or current_user.privilege?( :urgent_prio, @note.board_id ) ) %>
    <%= select_tag  "p_#{@note.id}", options_for_select( @prio_options, @note.priority ), 
              :title => t(:change_priority), :class => 'nbselect',  'data-add' => 'priority', 'data-id' =>@note.id, 'data-last' => @note.updated_at.to_i  %>
    <% end %>

    <% if @note.status == :active and current_user.privilege?( :assign_notes, @note.board_id ) %>
    <%= select_tag  "u_#{@note.id}", options_for_select( @user_options, @note.user_id ), 
              :title => t(:assign_user), :class => 'nbselect',  'data-add' => 'user', 'data-id' =>@note.id, 'data-last' => @note.updated_at.to_i  %>
    <% end %>
  
  <% end %>
  </div>

  <p>
  <%=raw RedCloth.new(@note.content).to_html %>
  </p>

</div>
  <div class="nbnotehist">
    <% @note.changes.reverse.each do |change| %>
       <p class="nbchange"><span class="ui-icon ui-icon-<%= change_icon change %> nbnoteicon" ></span><span
            class="nbchangeauto"><%=change.created.to_formatted_s :short  %>: <%= change.user.name %> </span>
        <%= change_comment change %>
      </p>
    <% end %>
  </div>
  
 </div>