<h3 id="h_<%= @note.id %>"><a href="#"><span 
      class="ui-icon ui-icon-<%= note_icon @note %>"></span><%=  note_problem @note %><span
      class="<%= note_prio @note  %>"><%= note_title @note %></span><%= note_user @note %></a></h3>
<div id="d_<%= @note.id %>" class="nbnote">

    <ul id="icons" class="nbiconbox">    
      <li class="nbicon" title="<%= t(:delete) %>"><a href="<%= note_path @note  %>"  data-confirm="<%= t :are_you_sure %>"  data-method="delete"><span class="ui-icon ui-icon-trash"></span></a></li>
    </ul>

 </div>