<h3 id="h_<%= @note.id %>"><a href="#"><span 
      class="ui-icon ui-icon-<%= note_icon @note %>"></span><%=  note_problem @note %><span
      class="<%= note_prio @note  %>"><%= note_title @note %></span><%= note_user @note %></a></h3>
<div id="d_<%= @note.id %>" class="nbnote">

    <ul id="icons" class="nbiconbox">
        <li class="nbicon" title="<%= t(:ch_comment) %>"><a href="<%= edit_note_path @note,  :format=>'js', :add => 'comment' %>" data-remote="true"><span class="ui-icon ui-icon-comment"></span></a></li>
    <% if @note.status == :active %>
        <% if ! @note.working && (@note.user.nil? || current_user == @note.user)  %>
        <li class="nbicon" title="<%= t(:ch_going) %>"><a href="#"><span class="ui-icon ui-icon-play"></span></a></li>
        <% end
               if ! @note.working && @note.user.nil? %>
        <li class="nbicon" title="<%= t(:ch_later) %>"><a href="#"><span class="ui-icon ui-icon-person"></span></a></li>
        <% end
               if @note.working && current_user == @note.user %>
        <li class="nbicon" title="<%= t(:ch_pause) %>"><a href="#"><span class="ui-icon ui-icon-pause"></span></a></li>
        <% end
               if @note.user.nil? || current_user == @note.user %>
        <li class="nbicon" title="<%= t(:ch_done) %>"><a href="#"><span class="ui-icon ui-icon-check"></span></a></li>
        <% end
               if Rails.env.test? || current_user == @note.user %>
        <li class="nbicon" title="<%= t(:ch_giveup) %>"><a href="#"><span class="ui-icon ui-icon-close"></span></a></li>
        <% end
               if @note.problem %>
        <li class="nbicon" title="<%= t(:ch_noprob) %>"><a href="#"><span class="ui-icon ui-icon-help"></span></a></li>
        <% else %>
        <li class="nbicon" title="<%= t(:ch_prob) %>"><a href="#"><span class="ui-icon ui-icon-help"></span></a></li>
        <% end %>
        <li class="nbicon" title="<%= t(:ch_cancel) %>"><a href="#"><span class="ui-icon ui-icon-circle-close"></span></a></li>
    <% end %>        
        <li class="nbicon" title="<%= t(:delete) %>"><a href="<%= note_path @note  %>"  data-confirm="<%= t :are_you_sure %>"  data-method="delete"><span class="ui-icon ui-icon-trash"></span></a></li>
    </ul>

  <% @note.changes.each do |change| %>
      <p class="nbchange"><span class="ui-icon ui-icon-<%= change_icon change %> nbnoteicon" ></span><span 
            class="nbchangeauto"><%= change.user.name %>, <%= time_ago_in_words change.created   %>:</span>
       <%= change_comment change %>
     </p>
  <% end %>

 </div>