<% content_for :head do %>
  <script type="text/javascript">
     function specificInit() {
         $( '#accordion' ).accordion( "activate" , <%=  activated %>);
     }
  </script>
<% end %>
<% content_for :nbheader do %>
       <h1><%= @parent.nil? ?  t( :notes ) : @parent.title %></h1>

       <a role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
            id="addButton" href="<%= @parent.nil? ? new_note_path( :format=>'js' ) : new_note_path( :format=>'js', :parent=>@parent ) %>" data-remote="true"><span
           class="ui-button-icon-primary ui-icon ui-icon-star"></span><span class="ui-button-text"><%=t :add_note%></span></a>
<% end %>

 <% if @notes.empty? %>
       <p><%=t :no_note %></p>
 <% end %>

 <div id="accordion"  class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons" >
    <% @notes.each do |note| %>
       <% @note = note %>
       <%= render :partial => 'notes/note' %>
    <% end %>
 </div>