<% content_for :head do %>
  <script type="text/javascript">
     function specificInit() {
       $( '#accordion' ).accordion( "activate" , false );

       bindSelects();

          $('#selectall').click(function() {
              $('#selbox').children('input').each(function() {
                  this.checked = true;
                });
          });
          $('#deselectall').click(function() {
              $('#selbox').children('input').each(function() {
                  this.checked = false;
                });
         });


          // Filter Dialog
          $('#dialog_filter').dialog({
                  autoOpen: false,
                  buttons: {
                          "<%= t :refresh_selection %>": function() {
                                 $('#selform > div > input[name="utf8"]').remove();
                                 var ausers = new Array();
                                 $('#selbox').children('input').each(function() {
                                      if(this.checked)
                                          ausers.push( this.value );
                                 });
                                 $('#selform > #users, #selform  > #boards').attr( 'value', ausers.join('_') );
                                 $('#selform').submit();
                                 $(this).dialog("close");
                                 return false;
                          },
                          "<%= t :cancel %>": function() {
                                  $(this).dialog("close");
                          }
                  },
                  modal: true
          });

          // Dialog Link
          $('#dialog_link').button().click(function(){
                  $('#dialog_filter').dialog('open');
                  return false;
          });

     }
  </script>
<% end %>
<% content_for :nbheader do %>

       <% if  (@parent.nil? or current_user.privilege?( :edit_notes, @parent.id )) && ! @menu_boards.empty? %>
       <a role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
            id="addButton" href="<%= @parent.nil? ? new_note_path : new_note_path( :parent=>@parent ) %>" data-remote="true"><span
           class="ui-button-icon-primary ui-icon ui-icon-star"></span><span class="ui-button-text"><%=t :add_note%></span></a>
        <% end %>

        <div id="dialog_link" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span
            class="ui-button-text"><%= "#{ t :showing}: #{@notes.size}/#{@all_size}" %></span></div>
        
       <% if @parent.nil? %>
        <h1><%= "#{t( :notes )} - #{current_user.name}" %></h1>
        <% else %>
        <h1 title="<%= @parent.description %>"><%= "#{t( :board )} - #{@parent.title}" %></h1>
        <% end %>      

<% end %>

 <% if @notes.empty? %>
       <p class="nbmiddle"><%=t :no_note %></p>
 <% end %>

 <div id="accordion"  class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons" >
    <% @notes.each do |note| %>
       <% @note = note %>
       <%= render :partial => 'notes/note' %>
    <% end %>
 </div>

<!-- ui-dialog -->
<div id="dialog_filter" title="<%=t :filtration %>">

<% if @parent.nil? %>
   <div class="nbcontrols" id="selbox">
     <h3><%= t :by_boards  %>:</h3>
     <% @menu_boards.each do |board|  %>
        <%= check_box_tag  "bname_#{board.title}", board.id, @by_board_sel[board.id] %><%= board.title %><br/>
     <% end %>
    <br/>
    <%= link_to t(:sel_select), '#', :id=>'selectall' %> |
   <%= link_to t(:sel_deselect), '#', :id=>'deselectall' %>
   </div>
<% else %>
   <div class="nbcontrols" id="selbox">
     <h3><%= t :by_users  %>:</h3>
     <% @user_options.each do |user|  %>
        <%= check_box_tag  "uname_#{user.first}", user.last, @by_user_sel[user.last] %><%= user.first %><br/>
     <% end %>
    <br/>
    <%= link_to t(:sel_select), '#', :id=>'selectall' %> |
    <%= link_to t(:sel_deselect), '#', :id=>'deselectall' %>
   </div>
 <% end %>

 <%= form_tag @parent.nil? ? notes_path : board_path(@parent), :id=>'selform', :method => :get do |f| %>
   <%= hidden_field_tag @parent.nil? ? 'boards' : 'users', '' %>

   <div class="nbcontrols">
     <h3><%= t :by_properties  %>:</h3>
     <%= select_tag  'prio', options_for_select( @by_prio_options, @by_prio_sel ), :title => t( :by_priorities ) %><br/>
     <%= select_tag  'proc', options_for_select( @by_proc_options, @by_proc_sel ), :title => t( :by_status ) %><br/>
     <%= check_box_tag  'prob', 'P', @by_prob_sel %><%= t :by_prob_only %> [?]<br/>
  </div>
  
  <% end %>

</div>