 <h3><a href="#"><%= user.name %></a></h3>
 <div class="nbnote">

    <ul id="icons" class="nbiconbox">
      <li class="nbicon" title="<%= t(:edit) %>"><a href="<%= edit_user_path(user) %>"><span class="ui-icon ui-icon-pencil"></span></a></li>
      <% unless Rails.env.test? or user.name == current_user.name  %>
      <li class="nbicon" title="<%= t(:delete) %>"><a href="<%= user_path(user) %>"  data-confirm="<%= t :are_you_sure %>"  data-method="delete"><span class="ui-icon ui-icon-trash"></span></a></li>
      <% end  %>
    </ul>

    <%= t :user %>: <%= user.name %><br/>
    <%= t :email %>: <%= user.email %><br/>
    <span class="ui-icon ui-icon-<%= user.send_mails ? 'check' : 'close' %> nbnoteicon"></span> <%= t :send_mails %><br/>

 </div>