<% content_for :head do %>
  <script type="text/javascript">
     function specificInit() {
         $( '#accordion' ).accordion({ icons: true });

         $( '#addButton' ).button({
	    icons: { primary: 'ui-icon-star'}
         });

      }
  </script>
<% end %>
<% content_for :nbheader do %>
       <h1><%=t :users%></h1>
       <a role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
            id="addButton" href="<%= new_user_path :format=>'js' %>" data-remote="true"><span
           class="ui-button-icon-primary ui-icon ui-icon-star"></span><span class="ui-button-text"><%=t :add_user%></span></a>
<% end %>

 <div id="accordion"  class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons" >

<% @users.each do |user| %>
<%= render :partial => 'user', :locals => { :user => user } %>
<% end %>

</div>

<%= link_to 'New User', new_user_path %>


