    <ul class="sf-menu">
            <li>
                <%= link_to t(:my_notes), notes_path %>
                <ul>
                    <li><%= link_to t(:my_uncompleted), notes_path( :proc => '0_1' ) %></li>
                    <li><%= link_to t(:my_important), notes_path( :prio => '2_3' ) %></li>
                    <li><%= link_to t(:my_archive), notes_path( :proc => 'D_C' ) %></li>
                </ul>
            </li>
            <li>
		<%= link_to t(:boards), boards_path %>
	        <ul>
                    <% @menu_boards.each do |board|  %>
		      <li><%= link_to board.title, board, :title=>board.description %></li>
                    <% end %>
                    <li><%= link_to t(:boards_management), boards_path if current_user.privilege?( :manage_boards ) or current_user.privilege?( :add_boards )%></li>
		</ul>
	    </li>
	    <li>
		<%= link_to  current_user.name, user_path(current_user) %>
		<ul>
	            <li><%= link_to t(:profile), user_path(current_user) %></li>
                    <% if current_user.privilege?(:manage_users) %>
		    <li><%= link_to t(:users), :controller=>'users', :action => 'index' %></li>
                    <% end %>
                    <li><%= link_to t(:sign_out), :controller=>'devise/sessions', :action => 'destroy' %></li>
		</ul>
	    </li>
     </ul>