    <ul class="sf-menu">
            <li>
                <%= link_to t(:my_notes), notes_path( :proc => '0_1' ) %>
                <ul>
                    <li><%= link_to t(:my_important), notes_path( :prio => '2_3' ) %></li>
                    <li><%= link_to t(:my_with_date), notes_path( :proc => '0_1', :inst => 'D' ) %></li>
                    <li><%= link_to t(:my_archive), notes_path( :proc => 'D_C' ) %></li>
                    <li><%= link_to t(:my_all), notes_path %></li>
                </ul>
            </li>
            <li>
		<%= link_to t(:boards), boards_path %>
	        <ul>
                    <% @menu_boards.each do |board|  %>
		      <li><%= link_to board.title, board, :title=>board.description %></li>
                    <% end %>
                    <li class="nbmenumgmt"><%= link_to t(:all_boards), boards_path( :show => 'all' ) if current_user.privilege?( :manage_boards ) %></li>
                    <li class="nbmenumgmt"><%= link_to t(:archived_boards), boards_path( :show => 'archived' ) %></li>
		</ul>
	    </li>
            <li>
		<%= link_to t(:contexts), contexts_path %>
	        <ul>
                    <% @my_contexts.each do |ctx|  %>
		      <li><%= link_to ctx.name, ctx %></li>
                    <% end %>
		</ul>
            </li>
	    <li>
		<%= link_to  current_user.name, user_path(current_user) %>
		<ul>
                    <% if current_user.privilege?(:manage_users) %>
		    <li class="nbmenumgmt"><%= link_to t(:users), :controller=>'users', :action => 'index' %></li>
                    <% end %>
                    <li><%= link_to t(:sign_out), :controller=>'devise/sessions', :action => 'destroy' %></li>
		</ul>
	    </li>
     </ul>