    <ul class="sf-menu">
            <li>
                <a href="#a">mé lístky</a>
                <ul>
                    <li><a href="#">všechny nehotové</a></li>
                    <li><a href="#">jen důležité</a></li>
					<li><a href="#">archiv</a></li>
                </ul>
            </li>
            <li>
		<%= link_to t(:boards), boards_path %>
	        <ul>
                    <% @boards.each do |board|  %>
		      <li><%= link_to board.title, board, :title=>board.description %></li>
                    <% end %>
                    <li><%= link_to t(:boards_management), boards_path %></li>
		</ul>
	    </li>
	    <li>
		<%= link_to  current_user.name, user_path(current_user) %>
		<ul>
	            <li><%= link_to t(:profile), user_path(current_user) %></li>
		    <li><%= link_to t(:users), :controller=>'users', :action => 'index' %></li>
                    <li><%= link_to t(:sign_out), :controller=>'devise/sessions', :action => 'destroy' %></li>
		</ul>
	    </li>
     </ul>