<h3 id="h_<%= @board.id %>"><a href="#"><%= @board.title %></a></h3>
<div id="d_<%= @board.id %>" class="nbnote">

    <ul id="icons" class="nbiconbox">
      <li class="nbicon" title="<%= t(:edit) %>"><a href="<%= edit_board_path @board %>" data-remote="true"><span class="ui-icon ui-icon-pencil"></span></a></li>
      <li class="nbicon" title="<%= t(:delete) %>"><a href="<%= board_path @board  %>"  data-confirm="<%= t :are_you_sure %>"  data-method="delete"><span class="ui-icon ui-icon-trash"></span></a></li>
    </ul>

    <%= t :title %>: <%= link_to @board.title, @board %><br/>
    <%= t :description %>: <%= @board.description %><br/>
    <% unless @board.user.nil? %>
    <%= t :owner %>: <%= @board.user.name %><br/>
    <span class="ui-icon ui-icon-<%= @board.active ? 'check' : 'close' %> nbnoteicon"></span> <%= t :board_active %><br/>
    <br/>

    <% end %>

 </div>