<h3 id="h_<%= @board.id %>"><%= link_to raw( board_title(@board)), '#' %></h3>
<div id="d_<%= @board.id %>" class="nbnote">

<div class="nbleftcol">
  <h2><%= t :board %></h2>
   <div>
    <%= t :title %>: <%= current_user.privilege?( :view_board, @board.id ) ? link_to( @board.title, @board ) : @board.title %><br/>
    <%= t :board_state %>: <%= board_state @board %><br/>
    <% unless @board.user.nil? %>
    <%= t :owner %>: <%= @board.user.name %><br/>
    <% end %>

    <% unless @board.description.nil? or @board.description.empty? %>
    <p>
    <%= t :description %>:<br/>
    <%= @board.description %><br/>
    </p>
    <% end %>
   </div>
   <p>
    <%= link_to( raw('<div role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="selButton"><span  class="ui-button-text">' +
                               t( :edit_board ) + '</span></div>'), edit_board_path( @board ), :remote=> true ) if current_user.id == @board.user_id || current_user.privilege?( :manage_boards ) %>
   </p>
</div>

  <div  class="nbrightcol">
   <h2><%= t :board_grants %></h2>
   <table>
     <tr>
       <th></th>
       <% Permission.privs_board.each do |priv| %>
       <th  title="<%= t Permission.description(priv) %>"><%= raw t(priv).sub(' ', '<br/>') %></th>
       <% end %>
     </tr>
     <% @users.each do |user| %>
     <tr>
       <th><%= user.name %></th>
       <% Permission.privs_board.each do |priv| %>
       <td><span class="ui-icon ui-icon-<%= user.privilege?( priv, @board.id ) ? 'check' : 'close' %> nbnoteicon" title="<%= t Permission.description(priv) %>"></span></td>
       <% end %>
     </tr>
     <% end  %>
   </table>
  </div>

</div>